.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.signin::before {
    content: "";
    background: url('../../assets/sign.svg') no-repeat center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    opacity: 0.04;
}

.sigin_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    z-index: 35;
    width: 100%;


    & p {
        font-weight: 400;
        color: #686f7a;
    }
}

@media (min-width:768px) {
    .sigin_container {
        width: 70%;
    }
}

@media (min-width:1024px) {
    .sigin_container {
        width: 50%;
    }
}

.signin_btn {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
    font-weight: 400;
    font-size: 0.875rem;
    border-radius: 3px;

}

.signin_form {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #b9bcc1;
    border-radius: 3px;
    color: #999;

    & input {
        width: 100%;
    }
}

input::placeholder {
    color: #999;
}

.remember_me {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    justify-content: flex-start;
    width: 100%;
}

.signin_btn {
    width: 100%;
    padding: 1rem;
}

.forgot_password {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    & h6 {
        color: var(--pri_bg);
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: var(--pri_clr);
            text-decoration: underline;
        }
    }
}

.signin_signup {
    width: 100%;
    justify-content: center;
    border-top: 1px solid #b9bcc1;
    padding-top: 1rem;

}

.signin_rights {
    display: flex;
    align-items: center;
    gap: 1rem;

    & img {
        width: 2rem;
    }

    & p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}