.mob_nav {
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
}

.mob_nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mob_nav_links li {
    font-size: 0.65rem;
    font-weight: 500;
    padding-bottom: 0.125rem;
    border-bottom: 2px solid #B88E2F;
}

@media (min-width:426px) {
    .mob_nav {
        padding: 1.5rem 2rem;
    }

    .mob_nav_links {

        gap: 2rem;
    }

    .mob_nav_links li {
        font-size: 1rem;

    }
}