.course_detail {
    overflow-x: hidden;

}

.course_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-around; */
    gap: 1.5rem;
    padding: 1.25rem;
    background: var(--pri_clr);
    color: white;
}

.course_header_img {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* width: 30%; */

    & img {
        width: 100%;
        border-radius: 15px;
        border: 5px solid white;
        overflow: hidden;
    }

}

.course_save_wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.save {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
}

.course_header_info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* width: 70%; */

    & p {
        color: white;
    }
}

.course_rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background: #fdcc0d;
    padding: 0.15rem 0.75rem;
    border-radius: 3px;
    font-size: 0.65rem;
}

.course_language {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.language {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.65rem;
}

.course_btn_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.add_to_cart:hover {
    background: #C72127;
}

.buy_now {
    background: var(--pri_clr);
    border: 1px solid white;
}

.course_instructor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    background: white;
}

.instructor_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
}

.instructor {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.instructor_img img {
    width: 3rem;
}

.course_instructor_info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.views {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.views_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.95rem;
    border: 1px solid #efefef;
    color: #686f7a;
    border-radius: 3px;
}

.course_list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;

    & :first-child {
        border-bottom: 2px solid var(--pri_bg);
    }
}

.course_requirements {
    padding: 1.25rem;
    background: var(--bg_clr);
    color: var(--pri_clr);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.requirements {
    padding-left: 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #686f7a;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & li {
        position: relative;
        padding-left: 1rem;
        font-size: 0.65rem;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--pri_clr);
        }
    }
}

.bold_list {
    font-weight: 600;
}

@media (min-width:640px) {
    .requirements {
        & li {
            font-size: 0.75rem;
        }
    }

    .language {
        font-size: 0.75rem;
    }

    .rating {
        font-size: 0.75rem;
    }
}

@media (min-width:768px) {
    .course_header {
        flex-direction: row;
    }

    .requirements {
        & li {
            font-size: 0.85rem;
        }
    }

    .language {
        font-size: 0.85rem;
    }

    .rating {
        font-size: 0.85rem;
    }
}

@media (min-width:1024px) {
    .course_header {
        gap: 1.5rem;
        padding: 2rem;
    }

    .course_header_img {
        gap: 1rem;
        width: 30%;

        & img {
            width: 100%;
            border-radius: 15px;
            border: 5px solid white;
            overflow: hidden;
        }
    }

    .course_save_wrapper {
        gap: 1.5rem;
    }

    .save {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.875rem;
    }

    .course_header_info {
        gap: 1rem;
        width: 70%;

        & p {
            color: white;
        }
    }

    .course_rating {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        background: #fdcc0d;
        padding: 0.15rem 0.75rem;
        border-radius: 3px;
        font-size: 0.875rem;
    }

    .course_language {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .language {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.875rem;
    }

    .course_btn_wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .add_to_cart:hover {
        background: #C72127;
    }

    .buy_now {
        background: var(--pri_clr);
        border: 1px solid white;
    }

    .course_instructor {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 1rem 3rem 0.5rem 3rem;
        background: white;
    }

    .instructor_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .instructor {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .instructor_img img {
        width: 3rem;
    }

    .course_instructor_info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .views {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .views_detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0.95rem;
        border: 1px solid #efefef;
        color: #686f7a;
        border-radius: 3px;
    }

    .course_list {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        justify-content: center;

        & :first-child {
            border-bottom: 2px solid var(--pri_bg);
        }
    }

    .course_requirements {
        padding: 2rem;
        background: var(--bg_clr);
        color: var(--pri_clr);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .requirements {
        padding-left: 1rem;
        font-size: 0.875rem;
        font-weight: 400;
        color: #686f7a;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & li {
            position: relative;
            padding-left: 1rem;
            font-size: 1rem;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--pri_clr);
            }
        }
    }

    .bold_list {
        font-weight: 600;
    }
}