.navbar {
    display: flex;
    background: white;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.navbar_logo_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.logo_name {
    font-size: 1.45rem;
    font-weight: 700;
    color: var(--pri_clr);
    opacity: 0.9;
}

.nav_hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    line-height: auto;
    font-size: 1.375rem;
    background: white;
    color: var(--pri_clr);
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s;
}

.nav_hamburger:hover {
    color: #AF1F24;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

.logo_img {
    display: flex;
    align-items: center;
}

.logo_img img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.nav_category {
    display: none;
}


.navbar_search {
    display: none;
}

.search_logo,
.user_dp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_user_info {
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    & :nth-child(2) {
        display: none;
    }
}

.user_btn {
    display: none;
}

.user_info_notification {
    display: flex;
    align-items: flex-end;
    color: #686f7a;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
    position: relative;
    background: white;

    &::before {
        content: '3';
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        top: 1px;
        right: -2px;
        background: var(--pri_bg);
        color: white;
        font-size: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.message_toggle {
    width: 18.75rem;
    position: absolute;
    padding: 1rem;
    top: 8.5%;
    right: 9.5%;
    z-index: 55;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.message_toggle_user {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 0.5rem;

    &:not(:nth-last-child(2)) {
        border-bottom: 1px solid #f1eeee;

    }

}

.toggle_user_img img {
    width: 2.25rem;
}

.user_dp img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.toggle_sidebar {
    position: absolute;
    width: 100%;
    z-index: 22;
}

.toggle_user_info {
    display: flex;
    flex-direction: column;

    & span {
        font-size: 0.75rem;
        font-weight: 400;
        color: #afafaf;
        text-align: left;
    }
}

.drop_down_btn {
    width: 100%;
    text-align: center;
    background: #ffecec;
    color: #333;
    font-weight: 600;

    &:hover {
        color: white;
    }
}

.notification_toggle {
    width: 18.75rem;
    position: absolute;
    padding: 1rem;
    top: 8.5%;
    right: 5.5%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 44;
}

@media (min-width:580px) {
    .nav_hamburger {

        font-size: 1.475rem;
    }

    .user_btn {
        display: block;
    }

    .navbar_user_info {
        gap: 1.25rem;

        & :nth-child(2) {
            display: flex;
        }
    }

    .user_info_notification {
        font-size: 1.65rem;

        &::before {
            width: 0.85rem;
            height: 0.85rem;
            border-radius: 50%;
            top: 1px;
            right: -2px;
            font-size: 0.65rem;

        }

    }
}

@media (min-width:1024px) {

    .navbar_logo_info {
        gap: 1rem;
    }

    .nav_hamburger {
        width: 3.75rem;
        height: 3.75rem;
        font-size: 1.375rem;
        background: var(--pri_bg);
        color: white;
        transition: 0.3s;
        border-radius: 0;
    }

    .nav_hamburger:hover {
        background: #AF1F24;
        color: white;
    }

    .logo_wrapper {
        gap: 0.5rem;
    }

    .logo_img img {
        width: 2rem;
        height: 2rem;
    }

    .nav_category {
        font-size: 1.75rem;
        color: #686f7a;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        cursor: pointer;
    }

    .nav_category:hover {
        color: var(--pri_clr);
    }

    .navbar_search {
        display: flex;
        align-items: center;
        gap: 0.35rem;
        padding: 0.5rem 1.25rem;
        font-size: 0.8125rem;
        margin-left: 3rem;
        background: #f7f7f7;
        border-radius: 3px;
        color: var(--sec_clr);
        font-weight: 400;
        max-width: 350px;
        width: 100%;

        & input {
            color: var(--sec_clr);
            font-weight: 400;
            font-size: 0.8125rem;
            width: 100%;
        }
    }



    .navbar_user_info {
        margin-right: 2rem;
        gap: 1.5rem;

        & :nth-child(2) {
            display: flex;
        }
    }


    .user_info_notification {
        font-size: 1.75rem;

        &::before {
            width: 1rem;
            height: 1rem;
            top: -5px;
            right: -2px;
            font-size: 0.65rem;
        }
    }

    .user_info_notification:hover {
        color: var(--pri_clr);
    }

    .user_dp img {
        width: 2.25rem;
        height: 2.25rem;
    }
}