.dashboard_container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
    gap: 1rem;

    & h5,
    & h6 {
        color: var(--pri_clr);
        cursor: pointer;

    }

    & h3 {
        color: var(--pri_clr);
    }

}

.container_heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    & span {
        font-size: 1.5rem;
        color: #686f7a;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & h3 {
        color: var(--pri_clr);
        font-weight: 500;
    }
}

.dashboard_card_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.dashboard_card_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 3px;
    gap: 1.5rem;
    width: 100%;

}

.dashboard_card_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & h5 {
        color: var(--pri_clr);
        font-weight: 500;
    }

    & h3 {
        color: var(--pri_clr);
        font-weight: 500;
    }

    & span {
        font-size: 0.75rem;
        font-weight: 500;
        padding: 5px 8px;
        color: white;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card1_bg {
    background: #ffc136;
}

.card2_bg {
    background: #c182f9;
}

.card3_bg {
    background: #ffa052;
}

.card4_bg {
    background: #cca1ff;
}

.dashboard_card_img {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 4rem;
    }
}

.course_creation_card {
    display: flex;
    gap: 1rem;
    padding: 1.5rem 2.5rem;
    align-items: center;
    border-radius: 3px;

    & span {
        font-size: 1.5rem;
        color: #686f7a;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & h3 {
        color: var(--pri_clr);
        font-weight: 500;
    }

    & button {
        margin-left: auto;
    }
}

.dash_parent_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
}

.dash_carousel_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;

}

.dash_carousel_left {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    position: relative;
}

.dash_carousel_right {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    height: 50%;
    position: relative;

}

.dash_previous_btn {
    position: absolute;
    right: 8%;
    top: 0;
    z-index: 1;
}

.dash_next_btn {
    position: absolute;
    right: 1%;
    top: 0;
    z-index: 1;
}

.dash_profile_analysis {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dash_course_info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border-bottom: 1px solid #efefef;
    padding-bottom: 0.5rem;

}

.dash_course_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #686f7a !important;
}

.dash_news_wrapper {
    width: 98%;
    padding: 1rem;
    border-radius: 3px;

    & img {
        width: 100%;
        object-fit: cover;
    }
}

.subscribers {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 3px;

    & h6 {
        color: #686f7a;
        font-weight: 400;
        transition: 0.3s;

        &:hover {
            color: var(--pri_clr);
        }
    }
}

.subscribers_details_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 0.5rem 0;
}

.subscribers_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscriber_insites {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    & span {
        color: #ed2a26;
    }
}

.dash_right_component {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.pending_btn {
    width: 20%;
}

@media (min-width:640px) {
    .dash_featured_courses {
        width: 100%;

        & img {
            width: 100%;
        }
    }

}

@media (min-width:768px) {
    .dashboard_card_wrapper {
        width: 48%;
        flex-wrap: wrap;
        padding: 1rem 2rem;
    }

    .dash_carousel_wrapper {
        flex-direction: row;
    }

}

@media (max-width:990px) {
    .dashboard_container {
        width: 100svw;
    }
}

@media (min-width:1024px) {
    .dashboard_container {
        padding: 1.5rem;
        flex: 1;
        gap: 1.7rem;
    }

    /* .dashboard_card_wrapper {
        width: 23.5%;
        flex-wrap: wrap;
        padding: 1rem 2rem;
    } */
}

@media (min-width:1200px) {
    .dashboard_container {
        margin-right: 1rem;
    }

    .dashboard_card_wrapper {
        width: 21.5%;
        flex-wrap: wrap;
        padding: 1rem 2rem;
    }

    .dash_parent_wrapper {
        flex-direction: row;
    }

    .dash_carousel_wrapper {
        flex-direction: row;
        width: 70%;
    }

    .dash_carousel_left {
        width: 100%;
    }

    .dash_carousel_right {
        width: 100%;
    }

    .dash_right_component {
        width: 30%;
    }

}