.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;

    & h1 {
        color: #d32f2f;
        margin-bottom: 10px;
    }

    & p {
        color: #616161;
        text-align: center;
    }
}